* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  background-image: url(./images/backg.jpg);
  height: 100vh;
  background-size: cover;
}

.container .navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #46211A;
  height: 120px;
}

.container .navbar ul li {
  display: inline-block;
  margin-right: 40px;
  font-size: 15px;
  list-style: none;
  transition: 0.35s;
}

.container .navbar .logo h1 {
  color: #F1D3B2;
}

.container .navbar .logo-l {
  width: 100px;
  cursor: pointer;
  border-radius: 75px;
}

.container .navbar .logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container .navbar ul li a {
  text-decoration: none;
  color: #F1D3B2;
  border: 2px;
  border-radius: 15px;
  padding: 4px;
}

.container .navbar ul li a:hover {
  background-color: gray;
}

.container .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 750px;
  line-height: 40px;
}

.container .content .h1 {
  font-size: 70px;
  line-height: 70px;
  color: #F1D3B2;
  margin-bottom: 30px;
}

.container .content .order-button {
  background-color: orange;
  border-style: none;
  border-radius: 20px;
  font-size: 25px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 6px 6px 5px black;
}

.container .content .order-button:active {
  opacity: 0.8;
}

.container .content .order-button:hover {
  background-color: rgb(218, 142, 0);
  transition: 0.4s;
}


.container .content .form {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: orange;
  padding: 100px;
  border-radius: 20px;
  border-style: solid;
  box-shadow: 4px 4px 1px rgb(36, 35, 35);
}

.input-signup {
  margin-bottom: 20px;
  padding: 15px 30px 15px 30px;
  border-radius: 10px;
  border-style: none;
  font-size: 15px;
}

.container .content .form button {
  padding: 15px 30px 15px 30px    ;
  border-style: none;
  border-radius: 10px;
  background-color: #46211A;
  color: #F1D3B2;
}

.container .content .form h1 {
  font-size: 20px;
  
}
